{% extends 'base.html' %}
        
{% block title %}Home{% endblock %}

{% block content %}



{% comment %} <img src="https://thumbs.dreamstime.com/b/woman-have-webcam-online-meeting-international-client-close-up-women-look-laptop-screen-talk-video-call-ethnic-202686016.jpg"> {% endcomment %}
<div class="bg-image">	

    <div class="text-center">
    <div class="card shadow p-3 mb-5 bg-body rounded d-inline-flex mx-5 mb-5 " style="width:600px; height:200px;" 'margin-right:50%'>
      <div class="card-body"style="background-color:white;">
          <h3 class="text center"style="color:rgb(244, 86, 24);">Talk. Resolve. Heal</h3>
          <h6 class="card-text text-center font-size-16px"style="color:black;">Online Counselling Therapy With Top psychologists.Anytime, Anywhere, Any device.</h6>
          <a  style="color:white; background:rgb(244, 86, 24);"class="mr-3 btn"  href="{% url 'signup'%}">Get started</a>
            </div>
      </div>
  </div> 
  </div><br>

  <h2 class="text-center"> Choose Help.Not Seffering.</h2>
  <hr><br>
<div class="text-center">
  <h2 >Counselling Therapy Sessions with Licensed & Verified Experts</h3>
    <p style="font-size:1.5em"> Highly qualified team of some of the best names in psychology who deliver improved well-bieing to you. Carefully vetted through a rigorius selection process. Trained and Experienced in all psychotherapy techniques.</p>
  </div><br>

  <div class="card-body "style="background-color:black;">
    <div class="text-center">
    <button type="button" class="btn btn-lg" style="background:rgb(244, 86, 24);" onclick="window.location.href='../signup'">Book Therapy</button>
    </div>
    <p class="text center"style="color:white; font-size:1.5em">Wecareu is the best online counselling and therapy consultation website in India. Consult the Best Online Psychologist, online Psychiatrist, Mental health therapist, Counsellor and Psychotherapist now via chat. Reclain your inner Harmony. Talk to the Best Online Psychologist in India now.</p>
</div><br>

<div class="">
    <h3 class="text-center">Our Counselors</h3>
    <hr>
<div class="row">
    <div class="col-12 mt-5">
<div class="owl-carousel owl-theme"style="background:white;">
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="https://tse2.mm.bing.net/th?id=OIP.S2qiRT5kTGg0o1J9qtBsfwHaHa&pid=Api&P=0" alt="" class="card-img-top"> 
        </div> 
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="https://tse3.mm.bing.net/th?id=OIP.Prqh7mHwWsfOswVkVEGsTAHaHa&pid=Api&P=0" alt="" class="card-img-top">   
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow mb-5">
            <img src="https://tse3.explicit.bing.net/th?id=OIP.B5tVW7SCygK7meFC0QN9GAAAAA&pid=Api&P=0" alt="" class="card-img-top">    
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="https://tse4.mm.bing.net/th?id=OIP.c4LIYovXv61GaEqZDCS2igAAAA&pid=Api&P=0" alt="" class="card-img-top">  
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow" >
            <img src="https://tse1.mm.bing.net/th?id=OIP.3ynhA2MD--XCx6_CNMTXOwHaHa&pid=Api&P=0" alt="" class="card-img-top">
        </div>
    </div>
    <div class="item mx-4 my-4">
        <div class="card border-6 shadow">
            <img src="https://tse3.mm.bing.net/th?id=OIP.HVUBuCIt_1u1FnwvGr6xyQHaHa&pid=Api&P=0" alt="" class="card-img-top">
        </div>
    </div>
</div>
</div>  
</div>
</div>
{% endblock %}